.nav{
    list-style-type: none;
    font-size: 20px;
    position: sticky;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
    overflow: hidden;
    top: 0;
    padding-right: 16px;
}
.nav li {
    float: left;
    background-color: rgb(79, 79, 80);
    border-radius: 20px;
    margin-left: 20px;
}

.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
}
.nav li a:hover{
    background-color: rgb(55, 150, 173);
    border-radius: 20px;
}
.active{
    background-color: rgb(55, 150, 173);
    border-radius: 20px;
}

/*Navigation Bar style end*/

body{
    font-family: Montserrat,Open Sans,Helvetica Neue,Arial;
    color: rgb(107, 107, 110);
    font-size: 20px;
    letter-spacing: 0.5px;
}