<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <div>
        navigation bar
    </div>

    <!--This is the Filter Bar-->
    <nav>
        <ul class="nav">
            <li><a href="{{url_for('home', cat='main')}}">My Homepage</a></li>
            <li><a href="{{url_for('home', cat='Attraction')}}">Attractions</a></li>
            <li><a href="{{url_for('home', cat='Food')}}">Food</a></li>
            <li><a href="{{url_for('home', cat='Accomodation')}}">Accomodations</a></li>
        </ul>
    </nav>
    <!--End of filter bar-->
    <ul>
        {% for record in lst %}
        <li>{{record[0]}}</li>
        {% endfor %}
    </ul>
</body>
</html>