<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <div>
        navigation bar
    </div>
    <form>
        <input type="text" name="filter" placeholder="Search">
        <input type="submit" value="search">
    </form>
    <!--This is the Filter Bar-->
    <nav>
        <ul class="nav">
            <li class="active"><a href="{{url_for('home', cat='main')}}">Featured</a></li>
            <li><a href="{{url_for('home', cat='Attraction')}}">Attractions</a></li>
            <li><a href="{{url_for('home', cat='Food')}}">Food</a></li>
            <li><a href="{{url_for('home', cat='Accommodation')}}">Accommodations</a></li>
        </ul>
    </nav>
    <!--End of filter bar-->
    

    <div class="Recommended">Most Popular</div>
    <ul>
        {% for record in lst %}
        <li><a href="{{url_for('display', index=record[0])}}">{{record[1]}}</a></li>
        {% endfor %}
    </ul>
    <div class="Itinerary">Itinerary</div>
</body>
</html>