<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/itinerary_style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerary</title>
</head>
<body>
  <p>Itinerary Planner</p>
    <!--This is bloc of code does not belong to me-->
    <!--This bloc of code is from https://www.w3schools.com/howto/howto_css_timeline.asp-->
    <div class="timeline">
        <div class="container right">
          <div class="content">
            <h2>2017</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>2016</h2>
            <p>Lorem ipsum..</p>
          </div>
        </div>
      </div>
      <!--end of bloc of code which does not belong to me-->
      <div class="fav">
        fsjslfj
      </div>
</body>
</html>